<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login And Registration</title>
</head>

<body>
    <div class="container">
        <h1>Login and Registration</h1>
        <div class="register">
            <h2>Register</h2>
            <form action="/register" method="post">
                <div class="first">
                    <label for="first_name">First Name:</label>
                    <input type="text" name= "first_name">
                    {% with f_name_error = get_flashed_messages(category_filter =['first_name']) %}
                        {%if f_name_error %}
                        {% for message in f_name_error: %}
                        <p>{{ message }}</p>
                        {%endfor%}
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="last">
                    <label for="last_name">Last Name:</label>
                    <input type="text" name = "last_name">
                    {% with l_name_error = get_flashed_messages(category_filter =['last_name']) %}
                        {%if l_name_error %}
                        {% for message in l_name_error: %}
                        <p>{{ message }}</p>
                        {%endfor%}
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="email">
                    <label for="email">Email:</label>
                    <input type="text" name = "email" id = "email">
                    {% with email_error = get_flashed_messages(category_filter =['email']) %}
                        {%if email_error %}
                        {% for message in email_error: %}
                        <p>{{ message }}</p>
                        {%endfor%}
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="Password">
                    <label for="password">Password:</label>
                    <input type="password" name = "password">
                    {% with password_error = get_flashed_messages(category_filter =['password']) %}
                        {%if password_error %}
                        {% for message in password_error: %}
                        <p>{{ message }}</p>
                        {%endfor%}
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="password">
                    <label for="confirm_password">Confirm Password:</label>
                    <input type="password" name = "confirm_password">
                </div>
                <input type="submit" value="Register">
            </form>
        </div>
        <div class="login">
            <h2>Login</h2>
            <form action="/login" method= "POST">
            <div class="email">
                <label for="email">Email:</label>
                <input type="text" name ='email'>
                {% with login_email_error = get_flashed_messages(category_filter =['login_email']) %}
                    {%if login_email_error %}
                    {% for message in login_email_error: %}
                    <p>{{ message }}</p>
                    {%endfor%}
                    {% endif %}
                {% endwith %}
            </div>
            <div class="password">
                <label for="password">Password:</label>
                <input type="password" name = 'password'>
            </div>
            <input type="submit" value="Login">
            </form>
        </div>
    </div>
</body>

</html>