<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="container0">
            <h1>New Dojo</h1>
            <form action="/dojo/create" method="post">
            <div class="dojo_name">
                <label for="name">Name:</label>
                <input type="text" name = "name">
                <input type="submit">
            </div>
            </form>
        </div>
        <div class="container1">
            <h1>All Dojos</h1>
            <div class="dojos">
                {%for dojo in all_dojos%}
                <a href="/dojo_show/{{dojo.id}}">{{dojo.name}}</a>
                {%endfor%}
            </div>
            <a href="/ninja/creates">Add Ninja</a>
        </div>
    </div>
</body>
</html>