<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja</title>
</head>
<body>
    <div class="container">
        <h1>New Ninja</h1>
        <div class="ninja">
            <form action="/ninja/create" method="POST">
            <div class="dojo">
                <p>Dojo:</p>
                <select name="dojo_id" id="dojo_id" class="form-select">
                    {%for dojo in all_dojos%}
                        <option value="{{dojo.id}}">{{dojo.name}}</option>
                    {%endfor%}
                </select>
            </div>
            <div class="first_name">
                <label for="first_name">First Name:</label>
                <input type="text" name = "first_name">
            </div>
            <div class="last_name">
                <label for="last_name">Last Name:</label>
                <input type="text" name = "last_name">
            </div>
            <div class="age">
                <label for="age">Age:</label>
                <input type="text" name="age">
            </div>
            <input type="submit">
            </form>
        </div>
        <a href="/dojo">Home</a>
    </div>
</body>
</html>