<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Instruction</title>
</head>
<body>   
    <a href="/dashboard">Dashboard</a>
    <a href="/logout">Log Out</a>
    <p>Network:</p>
    <p>{{this_show.network}}</p>
    <p>Release Date:</p>
    <p>{{this_show.release_date}}</p>
    <p>Description:</p>
    <p>{{this_show.description}}</p>
    <p>Posted By:</p>
    <p>{{users.first_name}} {{users.last_name}}</p>
</body>
</html>